[Unit]
Description=RBAC-POC TraceFS one-shot setup
After=local-fs.target
Wants=local-fs.target

[Service]
Type=oneshot
User=root
Group=root
ExecStart=/opt/rbac-poc/bin/ftrace-setup.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
